body {
 text-align: center;
 background-color: rgb(236, 132, 181);
}

nav {
 background-color: rgb(180, 70, 138);
 padding: 10px;
}

a {
 color: rgb(235, 142, 227);
 margin: 40px;
}

h1 {
 color: rgb(238, 255, 247);
}
h1:hover {
 color: rgb(12, 15, 17);
}

img {
 width: 100px;
 
}

p {
 padding: 10px;
 color: aliceblue;
}
h4 {
 padding: 10px;
 color: aliceblue;
}
h2 { 
 color: aliceblue;
}
h3 {
 text-align: center, ;
}

.main-para {
 font-size: 1.5em;
 line-height: 1.5em;
}

