
#brother {
   max-width: 1600px;
   margin: 0 auto;
   text-align: center;
}
#img_principe {
   width: 100%;
}
.msg {
   text-align: center;
   background-color: #f1faee;
   color: black;
}
#desk {
   width: 10%;
}
#ice {
   width: 10%;
}
#person {
   width: 10%;
}
.msg img {
   background-color: rgb(77, 75, 75);
   color: #696972;
}
footer p a:hover {
   text-decoration: underline;
}