.container{
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 0px;
   justify-content: center;
}
.grid-container{
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 0px;
}

#icon1 {
   width: 100%;
   grid-column: 0/2;
   width: 1400px;
   justify-content: center;
}
h3 {
   font-size: 100px;
      align-self: 0;
      text-align: center;
   }
h2 {
   font-size: 200px;
   align-self: 0;
   text-align: center;
}
p{
      font-size: 100px;
      align-self: 0;
      text-align: center;
}

.footer.one{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   vertical-align: super;
   font-size: smaller;
}
